.header img{
    /* padding-top: 92px;
  padding-left: 80px; */
/* 
  width: 1292px;
  height: 622px; */
/* left: calc(50% - 1292px/2 - 15px); */
top: 92px;

/* background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%); */
/* border-radius: 20px; */
}